<% layout('layouts/boilerplate') %>

  <div class="row mb-5">
    <div class="col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="card-title text-center">Edit Church</h4>


          <form action="/churches/<%= church._id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label" for="title">Church Name</label>
              <input class="form-control" type="text" id="title" name="church[title]" autofocus
                value="<%= church.title %>" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="address">Address</label>
              <input class="form-control" type="text" id="address" name="church[address]" value="<%= church.address %>"
                required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="leadPastor">Lead Pastor</label>
              <input class="form-control" type="text" id="leadPastor" name="church[leadPastor]"
                value="<%= church.leadPastor %>" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="phoneNumber">Phone Number</label>
              <input class="form-control" type="text" id="phoneNumber" name="church[phoneNumber]"
                value="<%= church.phoneNumber %>" required />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Add More Image(s)</label>
              <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <textarea class="form-control" type="text" id="description" name="church[description]"
                required><%= church.description %> </textarea>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <div class="d-flex justify-content-around flex-wrap">
                <% church.images.forEach(function(img, i) { %>
                  <div>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="text-center mt-2">
                      <input class="mx-1" type="checkbox" id="image-<%= i %>" name="deleteImages[]"
                        value="<%= img.filename %>">
                      <label class="mb-3" for="image-<%= i %>">Delete</label>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-info my-3">Update Church</button>
            </div>
          </form>
          <a href="/churches/<%= church._id %>">Back to Church Page</a>
        </div>
      </div>
    </div>
  </div>