<% layout('layouts/boilerplate') %>

  <div class="row">
    <div class="col-md-6">
      <div id="churchCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% church.images.forEach((img, i)=> { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="" />
            </div>
            <% }) %>
        </div>
        <% if (church.images.length> 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#churchCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#churchCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <% } %>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card-body">
        <h2 class="card-title">
          <%= church.title %>
        </h2>
        <h5 class="card-text text-muted">
          <%= church.address %>
        </h5>
        <div class="card-text font-weight-bold mb-1">
          <%= church.leadPastor %>
        </div>
        <div class="card-text font-weight-bold mb-1">
          Phone Number: <%= church.phoneNumber %>
        </div>
        <p class="card-text">
          <%= church.description %>
        </p>

      </div>
      <% if (!admin) { %>
        <% } else { %>
          <div class="card-body mt-3">
            <a href="/churches/<%= church._id %>/edit" class="card-link btn btn-info">Edit</a>
            <form class="d-inline" action="/churches/<%= church._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
    </div>
  </div>
  <div class="row">
    <div class="my-3">
      <div id="map"></div>
    </div>
  </div>
  </div>

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const church = <%- JSON.stringify(church) %>
  </script>

  <script src="/js/showPageMap.js"></script>